DATA_DIR=/data
PUBLIC_SITE_URL=http://localhost:8080

NATS_URL=nats://nats:4222

SURREAL_URL=http://surrealdb:8000
SURREAL_NS=agennext
SURREAL_DB=content
SURREAL_USER=root
SURREAL_PASS=root

APPWRITE_ENDPOINT=http://appwrite/v1
APPWRITE_PROJECT_ID=agennext-content

WORDPRESS_URL=
WORDPRESS_USERNAME=
WORDPRESS_APP_PASSWORD=
WORDPRESS_DEFAULT_STATUS=draft

GITHUB_TOKEN=
GITHUB_REPO=
GITHUB_BRANCH=main
GITHUB_CONTENT_PATH=content/posts
